---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  <!-- START COMMENTS PART -->
  <!-- <div
    class="just-comments"
    data-allowguests="true"
    data-apikey="2c58402f-6262-4e01-a46a-de4ac771cca4">
  </div> -->
  <!-- END OF COMMENTS PART -->

</div>
